{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "sanity/typescript",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
