# Logs
*.log

# Compiled files
dist
lib

# Coverage directories used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# MacOS
.DS_Store

# Non-yarn lockfiles
package-lock.json
pnpm-lock.json

# Readme that is copied pre-publish
use-hot-module-reload/README.md

# Bundler caches
.parcel-cache
.vite
